@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #222;
  letter-spacing: 0.3rem;
  text-align: center;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin hidden {
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
}
body {
  margin-top:10vh;
}
// 모바일 & 테블릿
@media all and (max-width: 1024px) {
  @media all and (max-width: 767px) {
    html {
      .myPageBtn {
        font-size: 1.6rem !important;
        select {font-size: 1.6rem !important;}
        input {font-size: 1.6rem !important;}
      }
    }
  }
  .myPageList {
    .mypageListLi {
      width: 80vw;
      height: calc(70vw + 23vh);
      margin-bottom: 5vh;
      padding: 0 5vw;
      > h1 {
        width: 68vw;
        line-height: 8vh;
        font-size: 16px !important;
        > figure {
          width: 5vh;
          height: 5vh;
          margin: 1.5vh 1.5vh 0 0;
          img {
            width: auto;
            height: 6vh;
          }
        }
      }
      > figure {
        width: 70vw;
        height: 70vw;
      }
      > h2 {
        font-size: 16px;
        line-height: 5vh;
        margin-top:2vh;
      }
      > h3 {
        font-size: 2rem;
        line-height: 3vh;
        > span {
          font-size: 1.6rem;
          line-height: 3vh;
        }
      }
      > h4 {
        font-size: 1.6rem;
        line-height: 3vh;
      }
      > button {
        width: 20px;
        height: 30px;
        right: calc(5vw - 10px);
        top: calc(4vh - 15px);
        font-size: 25px;
        background-color: red;
      }
    }
  }
}
// PC
@media all and (min-width: 1025px) {
  .myPageList {
    .mypageListLi {
      width: 25vw;
      height: 35vw;
      margin-bottom: 2.5vw;
      padding: 0 2vw;
      > h1 {
        width: 19vw;
        line-height: 5vw;
        > figure {
          width: 3vw;
          height: 3vw;
          margin: 1vw 1vw 0 0;
          img {
            width: auto;
            height: 5vw;
          }
        }
      }
      > figure {
        width: 21vw;
        height: 21vw;
      }
      > h2 {
        font-size: 1.6rem;
        line-height: 2vw;
        margin-top:2vw;
      }
      > h3 {
        font-size: 1.5rem;
        line-height: 2vw;
        > span {
          font-size: 1.2rem;
          line-height: 2vw;
        }
      }
      > h4 {
        font-size: 1.2rem;
        line-height: 2vw;
      }
      > button {
        width: 20px;
        height: 2vw;
        right: calc(2vw - 10px);
        top: 1.5vw;
        font-size: 20px;
      }
    }
    .mypageListLi:not(.mypageListLi:nth-child(3n)) {
      margin-right:2.5vw;
    }
    .mypageListLi:nth-last-child(1), .mypageListLi:nth-last-child(2),
    .mypageListLi:nth-last-child(3) {
      margin-bottom: 0 !important;
    }
  }
}

.myPage {
  width: 100vw;
  background: url(../../img/mypage/mypageBg.png);
  background-size: 100vw 100vh;
  position: relative;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
  .mypageContainer {
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    position: relative;
    z-index: 1;
    @include noDrag;
    @include font;
    .myPageBtn {
      display: flex;
      justify-content: right;
      margin: 2vh 7vw 0 0;
      > select {
        outline: none;
        border: none;
        padding: 5px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
        font-size: 12px;
      }
      input {
        width: 20vw;
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 12px;
      }
      > label {
        margin: 1px 4px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        font-size: 12px;
        color:#000;
        font-weight: 600;
        select {
          outline: none;
          border: none;
          padding: 5px;
          background-color: transparent;
          font-size: 12px;
          color:#555;
        }
      }
    }
    .myPageListContainer {
      .myPageMenu {
        display: flex;
        justify-content: right;
        margin: 2vh 7vw 5vh 0;
        > label {
          margin: 1px 4px;
          border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
          font-size: 12px;
          color:#000;
          font-weight: 600;
          select {
            outline: none;
            border: none;
            padding: 5px;
            background-color: transparent;
            font-size: 12px;
            color:#555;
          }
        }
        > label:nth-child(1) {
          margin-right:2vw;
        }
      }
      .myPageList {
        width: 80vw;
        display: flex;
        align-items: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        .mypageListLi {
          display: block;
          overflow: hidden;
          border-radius: 15px;
          background-color: #fff;
          text-align: left;
          position:relative;
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
          > * {
            text-overflow:ellipsis;
            white-space:nowrap;
            overflow: hidden;
          }
          > span {display:none;}
          > h1 {
            font-size: 1.8rem;
            font-weight: 700;
            > figure {
              float: left;
              border: solid 1px #555;
              border-radius: 50%;
              overflow: hidden;
              position:relative;
              img {
                position:absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }
          > figure {
            overflow: hidden;
            position: relative;
            > img {
              min-width: auto;
              max-width: 150%;
              height: 100%;
              position:absolute;
              left: 50%;
              top: 50%;
              transform: translate(-50%, -50%);
            }
          }
          > h2 {
            font-weight: 600;
          }
          > h3 {
            span {
              margin-left: 10px;
            }
          }
          > h4 {
            text-align: right;
          }
          > button {
            position:absolute;
            background-color: transparent;
            color:#222;
            border:none;
            text-align: center;
            cursor: pointer;
          }
        }
      }
    }
  }
}
.myPage::-webkit-scrollbar {
  width: 10px;
}
/* 스크롤바 설정    */
.myPage::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}
/* 스크롤바 뒷 배경 설정*/
.myPage::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}