@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
  text-align: center;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// 테블릿 & 모바일
@media all and (max-width: 1024px) {
  html {
    font-size: 46.875% !important;
  }
  .myPageMenu {
    font-size: 1.8rem;
    li:nth-child(1) {width: 10vw;}
    li:nth-child(2) {width: 12vw;}
    li:nth-child(3) {width: 12vw;}
    li:nth-child(4) {width: 17vw;}
    li:nth-child(5) {width: 12vw;}
    li:nth-child(6) {width: 8vw;}
  }
  .mypageListLi > ul {
    li {font-size: 1.6rem !important;}
    li:nth-child(1) {width: 10vw;}
    li:nth-child(2) {width: 12vw;}
    li:nth-child(3) {width: 12vw;}
    li:nth-child(4) {width: 17vw;}
    li:nth-child(5) {width: 12vw;}
    li:nth-child(6) {width: 8vw;}
  }
  @media all and (max-width: 767px) {
    .myPageMenu {
      font-size: 1.6rem;
      li:nth-child(1) {display:none;}
      li:nth-child(2) {width: 15vw;}
      li:nth-child(3) {width: 18vw;}
      li:nth-child(4) {width: 20vw;}
      li:nth-child(5) {width: 20vw;}
      li:nth-child(6) {display:none;}
    }
    .mypageListLi > ul {
      li {font-size: 1.6rem !important;}
      li:nth-child(1) {display:none;}
      li:nth-child(2) {width: 15vw;}
      li:nth-child(3) {width: 18vw;}
      li:nth-child(4) {width: 20vw;}
      li:nth-child(5) {width: 20vw;}
      li:nth-child(6) {display:none;}
    }
  }
}
// PC
@media all and (min-width: 1025px) {
  .myPageMenu {
    li:nth-child(1) {width: 10vw;}
    li:nth-child(2) {width: 10vw;}
    li:nth-child(3) {width: 13vw;}
    li:nth-child(4) {width: 18vw;}
    li:nth-child(5) {width: 10vw;}
    li:nth-child(6) {width: 10vw;}
  }
  .mypageListLi > ul {
    li:nth-child(1) {width: 10vw;}
    li:nth-child(2) {width: 10vw;}
    li:nth-child(3) {width: 13vw;}
    li:nth-child(4) {width: 18vw;}
    li:nth-child(5) {width: 10vw;}
    li:nth-child(6) {width: 10vw;}
  }
}

.myPage {
  width: 100vw;
  height: 100vh;
  background: url(../../img/mypage/mypageBg.png);
  background-size: 100vw 100vh;
  position: relative;
  font-size: 1.6rem;
  .mypageContainer {
    width: 100vw;
    padding-top: 10vh;
    height: 100vh;
    position: relative;
    z-index: 1;
    @include noDrag;
    .myPageBtn {
      display: flex;
      justify-content: right;
      margin: 2vh 7vw 0 0;
      font-size: 1.2rem;
      select {
        outline: none;
        border: none;
        padding: 5px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
        font-size: 1.2rem;
      }
      input {
        width: 20vw;
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 1.2rem;
      }
      button {
        padding: 0 0.3vw;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0.7vw;
      }
      label {
        margin: 1px 4px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        select {
          outline: none;
          border: none;
          padding: 5px;
          background-color: transparent;
        }
      }
    }
    .myPageListContainer {
      width: 85vw;
      height: 70vh;
      margin: 3vh 8vw;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      .myPageMenu {
        height: 8vh;
        font-weight: 700;
        padding:0 1vw;
        li {
          height: 6vh;
          line-height: 6vh;
          margin: 1vh 1vw;
          float: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
          position: relative;
          text-align: center;
          span {
            float:right;
            svg {
              cursor: pointer;
              transition: 0.2s ease-in-out;
            }
            svg:hover {
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
      .myPageList {
        width: 85vw;
        height: 62vh;
        padding:0 1vw 1.5vh 1vw;
        overflow: hidden;
        > li:not(.myPageList > li:first-child) {
          margin-top:1vh;
        }
        .mypageListLi {
          display: block;
          height: auto;
          transition: all 0.5s;
          span {
            display: none;
          }
          > ul {
            li {
              margin: 0 1vw;
              float: left;
              text-align: center;
              font-size: 1.4rem;
              overflow:hidden;
              text-overflow:ellipsis;
              white-space:nowrap;
              cursor: pointer;
              figure {
                width: 10vw;
                height: 100%;
                overflow: hidden;
                position: relative;
                img {
                  min-width: 10vw;
                  width: auto;
                  object-fit: cover;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
              a {
                margin: 0 0.5vw;
                svg {
                  font-size: 2.5rem;
                  font-weight: 100;
                  color: black;
                }
              }
            }
            // li:last-child {
            //   width: 0;
            //   height: 0;
            //   text-indent: -9999px;
            // }
          }
          .limit3 {
            height: 19.5vh;
            > li:first-child {
              height: 19.5vh;
            }
            li:not(.limit3 > li:first-child) {
              height: 4.5vh;
              line-height: 4.5vh;
              margin-top: 7.5vh;
              margin-bottom: 7.5vh;
              img {
                height: 19.5vh;
              }
            }
          }
          .limit5 {
            height: 11.3vh;
            > li:first-child {
              height: 11.3vh;
            }
            li:not(.limit5 > li:first-child) {
              height: 4.3vh;
              line-height: 4.3vh;
              margin-top: 3.5vh;
              margin-bottom: 3.5vh;
              img {
                height: 11.3vh;
              }
            }
          }
          .limit10 {
            height: 5.1vh;
            li {
              height: 5.1vh;
              line-height: 5.1vh;
              img {
                height: 5.1vh;
              }
            }
          }
        }
        .mypageListLi:hover {
          background-color: rgba(0,0,0,0.1);
        }
      }
      .myPagePagination {
        margin-top: 5vh;
      }
    }
  }
  .mypageContainer::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to bottom, rgba(0,0,0, 0.3),rgba(255,255,255, 0.5) 15%);
    z-index: -1;
  }
}
