@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
  text-align: center;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// 테블릿 & 모바일
@media all and (max-width: 1024px) {
  html {
    font-size: 46.875% !important;
  }
  .myPageMenu {
    font-size: 1.8rem;
    li:nth-child(1) {
      width: 10vw;
    }
    li:nth-child(2) {
      width: 12vw;
    }
    li:nth-child(3) {
      width: 15vw;
    }
    li:nth-child(4) {
      width: 24vw;
    }
    li:nth-child(5) {
      width: 12vw;
    }
    // li:nth-child(6) {width: 6vw;}
  }
  .mypageListSmallUl {
    li {
      font-size: 1.6rem !important;
    }
    li:nth-child(1) {
      width: 10vw;
    }
    li:nth-child(2) {
      width: 12vw;
    }
    li:nth-child(3) {
      width: 15vw;
    }
    li:nth-child(4) {
      width: 24vw;
    }
    li:nth-child(5) {
      width: 12vw;
    }
    // li:nth-child(6) {width: 6vw;}
  }
  @media all and (max-width: 515px) {
    .myPageMenu {
      font-size: 1.6rem;
      li:nth-child(1) {
        display: none;
      }
      li:nth-child(2) {
        width: 14vw;
      }
      li:nth-child(3) {
        width: 17vw;
      }
      li:nth-child(4) {
        width: 29vw;
      }
      li:nth-child(5) {
        width: 15vw;
      }
      // li:nth-child(6) {width: 6vw;}
    }
    .mypageListSmallUl {
      li {
        font-size: 1.6rem !important;
      }
      li:nth-child(1) {
        display: none;
      }
      li:nth-child(2) {
        width: 14vw;
      }
      li:nth-child(3) {
        width: 17vw;
      }
      li:nth-child(4) {
        width: 29vw;
      }
      li:nth-child(5) {
        width: 15vw;
      }
      // li:nth-child(6) {width: 6vw;}
    }
  }
}
// PC
@media all and (min-width: 1025px) {
  .myPageMenu {
    li:nth-child(1) {
      width: 10vw;
    }
    li:nth-child(2) {
      width: 10vw;
    }
    li:nth-child(3) {
      width: 18vw;
    }
    li:nth-child(4) {
      width: 21vw;
    }
    li:nth-child(5) {
      width: 14vw;
    }
    // li:nth-child(6) {width: 6vw;}
  }
  .mypageListSmallUl {
    li:nth-child(1) {
      width: 10vw;
    }
    li:nth-child(2) {
      width: 10vw;
    }
    li:nth-child(3) {
      width: 18vw;
    }
    li:nth-child(4) {
      width: 21vw;
    }
    li:nth-child(5) {
      width: 14vw;
    }
    // li:nth-child(6) {width: 6vw;}
  }
}

.myPage {
  width: 100vw;
  height: 100vh;
  background: url(../../img/mypage/mypageBg.png);
  background-size: 100vw 100vh;
  position: relative;
  font-size: 1.6rem;
  .mypageContainer {
    width: 100vw;
    padding-top: 10vh;
    height: 100vh;
    position: relative;
    z-index: 1;
    @include noDrag;
    .myPageBtn {
      display: flex;
      justify-content: right;
      margin: 2vh 7vw 0 0;
      font-size: 1.2rem;
      select {
        outline: none;
        border: none;
        padding: 5px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        background-color: transparent;
        font-size: 1.2rem;
      }
      input {
        width: 20vw;
        margin-right: 2vw;
        background-color: transparent;
        outline: none;
        border: none;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        text-align: center;
        font-size: 1.2rem;
      }
      button {
        padding: 0 0.3vw;
        border-radius: 10px;
        background-color: rgba(0, 0, 0, 0.8);
        border: none;
        color: white;
        font-size: 1.5rem;
        font-weight: 400;
        margin: 0 0.7vw;
      }
      label {
        margin: 1px 4px;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.5);
        select {
          outline: none;
          border: none;
          padding: 5px;
          background-color: transparent;
        }
      }
    }
    .myPageListContainer {
      width: 85vw;
      height: 70vh;
      margin: 3vh 8vw;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
      border-radius: 20px;
      .myPageMenu {
        height: 8vh;
        font-weight: 700;
        padding: 0 1vw;
        li {
          height: 6vh;
          line-height: 6vh;
          margin: 1vh 1vw;
          float: left;
          border-bottom: 1px solid rgba(0, 0, 0, 0.8);
          position: relative;
          text-align: center;
          span {
            // position: absolute;
            // top: 0;
            // right: 0;
            float: right;
            svg {
              cursor: pointer;
              transition: 0.2s ease-in-out;
            }
            svg:hover {
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
      .myPageList {
        width: 85vw;
        height: 62vh;
        padding: 0 1vw 1.5vh 1vw;
        overflow: hidden;
        .mypageListLi {
          span {
            display: none;
          }
          .mypageListSmallUl {
            li {
              margin: 0 1vw 1vh 1vw;
              float: left;
              text-align: center;
              font-size: 1.4rem;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              figure {
                width: 10vw;
                height: 100%;
                overflow: hidden;
                position: relative;
                img {
                  min-width: 10vw;
                  width: auto;
                  object-fit: cover;
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                }
              }
              svg {
                font-size: 1.5em;
                font-weight: 100;
                margin: 0 0.5vw;
                color: black;
              }
            }
            .limit3 {
              height: 19.5vh;
              line-height: 19.5vh;
              img {
                height: 19.5vh;
              }
            }
            .limit5 {
              height: 11.3vh;
              line-height: 11.3vh;
              img {
                height: 11.3vh;
              }
            }
            .limit10 {
              height: 5.1vh;
              line-height: 5.1vh;
              img {
                height: 5.1vh;
              }
            }
          }
          cursor: pointer;
        }
      }
      .myPagePagination {
        margin-top: 5vh;
      }
    }
  }
  .mypageContainer::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(255, 255, 255, 0.5) 15%
    );
    z-index: -1;
  }
}
