html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.globeMap {
  display: flex;
  flex-direction: row;
  transition: 0.5s;
  padding-top: 10vh;
  .chartdiv {
    display: block;
    height: 80vh;
    background: transparent;
    opacity: 0.9;
    transition: 1s ease-in-out;
    // 캔버스 워터마크 지우기
    > div > div > div > canvas:nth-child(2) {
      clip-path: circle(50%);
    }
  }
  .nationdiv {
    width: 100%;
    transition: 1s ease-in-out;
  }
}

.stars {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  z-index: -1;
}
