html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.globeMap {
  display: flex;
  flex-direction: row;
  transition:0.5s;
  .chartdiv {
    display: block;
    height: 80vh;
    background: transparent;
    opacity: 0.9;
    padding-top: 10vh;
    transition:1s ease-in-out;
  }
  .nationdiv{
    width:100%;
    transition:1s ease-in-out;
  }
}

.stars {
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  top: 0;
  background: black;
  z-index:-1;
}
