html {
  font-family: system-ui, sans-serif;
  font-size: 1.25rem;
}

body {
  margin: 0;
}

svg {
  display: inline-block;
  vertical-align: middle;
}

.App {
  font-family: sans-serif;
  text-align: center;
}

.chartdiv {
  display: block;
  width: 100%;
  height: 80vh;
  background:transparent;
  opacity: 0.9;
  padding-top:10vh;
}
#stars {
  width: 100%; height: 100vh;
  position:absolute; left: 0; top: 0;
  background: #000;
}
