.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  .modalDiv {
    position: absolute;
    width: 70vw;
    height: 85vh;
    border-radius: 20px;
    background-color: white;
    transition: all 0.2s ease-out;
    .modalHeader {
      height: 10vh;
      background-color: rgba(0, 0, 0, 0.9);
      color:white;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left:2vw;
      font-size: 2rem;
      span {
        border-radius: 10px;
        margin-right: 2vw;
        cursor:pointer;
        font-size:3rem;
      }
    }
    .modalBody {
      height: 70vh;
      background-color: rgba(0, 0, 0, 0.7);
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      overflow: auto;
    }
    .modalFooter {
      height: 5vh;
      background-color: rgba(0, 0, 0, 0.75);
      display: flex;
      justify-content: right;
      align-items: center;
    }
  }
}
