@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../../fonts/NanumMyeongjo-Regular.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-Bold.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype");
  // 영문(대소문자)
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../../fonts/NotoSansKR-Thin.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Light.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Medium.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Regular.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Bold.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Black.otf") format("opentype");
  // 국문, 숫자
  unicode-range: U+AC00-D7A3, U+0030-0039;
}
@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #222;
  letter-spacing: 0.3rem;
  font-weight: 100;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin hidden {
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
}
.modalContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.8);
  @include font;
  @include noDrag;
  .modalDiv {
    position: absolute;
    width: 50vw;
    height: 85vh;
    background-color: white;
    transition: all 0.2s ease-out;
    border-radius: 20px;
    .closeBtn {
      position: absolute;
      top: 15px;
      right: 15px;
      text-align: right;
    }
    .modalHeader {
      font-size: 1.3em;
      height: 5vh;
      padding: 0 3vw;
      position: relative;
      margin: 2vw 0;
      hr {
        margin: 10px 0;
      }
      .modalHeaderBottom {
        display: flex;
        justify-content: space-between;
        .modalDate {
          display: flex;
          flex-wrap: nowrap;
          line-height: 16px;
        }
      }
      * {
        @include font;
        overflow: hidden;
        display: block;
      }
      h1 {
        width: 44vw;
        margin-top: 2vh;
        line-height: 3vh;
        font-size: 2rem;
        font-weight: 800;
      }
      h2 {
        line-height: 2vh;
        font-size: 1.5rem;
        color: #555;
      }
    }
    .modalBody {
      position: relative;
      text-align: center;
      > pre {
        width: calc(100% - 6vw);
        height: 15vh;
        padding: 0.5vw;
        background-color: rgba(0, 0, 0, 0.3);
        color: #fff;
        overflow: auto;
        line-height: 3vh;
        white-space: pre;
        font-size: 1.5rem;
        display: block;
        margin-top: 70px;
        margin-left: 3vw;
      }
    }

    .modalFooter {
      margin-top: 20px;
      padding: 0 18vw;
      display: flex;
      justify-content: space-around;
      font-size: 1.1em;
      button {
        color: white;
        font-size: 1.5em;
        font-weight: 600;
        border: none;
        padding: 12px 8px 6px 8px;
        border-radius: 10px;
        svg {
          font-size: 1.2em;
          margin-bottom: 5px;
        }
      }
      .editBtn {
        background-color: rgba(0, 200, 100, 0.7);
      }
      .deleteBtn {
        background-color: rgba(200, 37, 0, 0.7);
      }
    }
  }
}
