.contentContainer {
  width: 100%;
  height: 80vh;
  margin-top: 10vh;
  background-color:transparent;
  .contentHeader {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 900;
    display:flex;
    justify-content: space-between;
    .selectedCountry{
      margin-left:2vw;
      color:white;
      font-size:2.5rem;
    }
    .postButton{
      margin-right:2vw;
      span{
        align-items: center;
        padding:10px;
        border-radius:5px;
        color:white;
        font-weight:600;
        font-size:4rem;
      }
    }
  }
  .contentBody {
    height: 670px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    .contentCard {
      width: 400px;
      height: 400px;
      margin: 30px;
      padding: 20px;
      border-radius: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      box-shadow:0 0 10px rgba(255,255,255,0.1);
      background-color:rgba(0,0,0,0.3);
      .contentImage {
        position:relative;
        width: 320px;
        height: 240px;
        padding: 15px;
        background-color: rgba(0, 0, 255, 0.5);
      }
      .cardTag {
        position:absolute;
        left:0;
        top:0;
        font-size: 1.6rem;
        font-weight: 900;
        color:white;
        width:100%;
        height:40px;
        display:flex;
        justify-content: center;
        align-items: center;
        background-color:rgba(0,0,0,0.5);
      }
      .cardDate{
        margin-top:40px;
        font-size:1.6rem;
        font-weight:700;
        color:white;
      }
      hr {
        margin: 15px 0px;
      }
    }
  }
  .contentBody::-webkit-scrollbar {
    width: 10px;
  }
  
  .contentBody::-webkit-scrollbar-thumb{
    background-color: rgba(255,255,255,0.5);
    /* 스크롤바 둥글게 설정    */
  }
  
  /* 스크롤바 뒷 배경 설정*/
  .contentBody::-webkit-scrollbar-track{
    background-color: rgba(0,0,0,0);
  }
  .modalFooter {
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: right;
    align-items: center;
    button {
      width: 80px;
      height: 40px;
      border-radius: 10px;
      border: none;
      margin-right: 50px;
    }
  }
}

