@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../../fonts/NanumMyeongjo-Regular.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-Bold.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype");
  // 영문(대소문자)
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../../fonts/NotoSansKR-Thin.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Light.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Medium.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Regular.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Bold.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Black.otf") format("opentype");
  // 국문, 숫자
  unicode-range: U+AC00-D7A3, U+0030-0039;
}
@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin hidden {
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
}
// 테블릿 & 모바일
@media all and (max-width: 1024px) {
  @media all and (max-width: 414px) {
    .postWriteWrap {
      ul {
        p {
          width: 12vw !important;
          line-height: 8vh !important;
        }
        input {
          width: 30vw !important;
        }
      }
    }
  }
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        position: relative;
        .gallery {
          width: 80vw;
          height: 29vh;
          position: absolute;
          left: 0;
          top: 0;
          .inputFileBtn {
            position: absolute;
            top: 1.5vh;
            right: 0;
          }
          .galleryContainer {
            width: 80vw;
            height: 24vh;
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            .galleryImageContainer {
              width: calc((80vw - 2px - 10vw)/4);
              height: calc(24vh - 2px - 4vw);
              margin: 2vw 1vw;
            }
            .galleryImageContainer:first-child {margin-left:2vw;}
            .galleryImageContainer:last-child {margin-right:2vw;}
          }
        }
        ul {
          display: block;
          width: 80vw;
          height: 25vh;
          margin-top:36.5vh !important;
          p {
            width: 10vw;
            line-height: 8vh;
          }
          p:not(li:nth-child(4) p)::after {
            margin-left: 3vw;
          }
          input{
            width: 32vw;
            height: 5vh;
            line-height: 5vh;
            border-bottom: 1px solid #fff;
            border-top: none;
            border-left: none;
            border-right: none;
          }
          .react-datepicker-wrapper {
            width: 34vw !important;
          }
          .react-datepicker__input-container {
            width: 34vw !important;
          }
          // 일기 조정
          li:nth-child(4) {
            margin-left: 0;
            position: absolute;
            right: 0;
            bottom: 0;
          }
          textarea {
            width: 35vw;
            height: 23vh;
            line-height: 2.5vh;
          }
          .react-datepicker, .react-datepicker__month-container,
          .react-datepicker__header, .react-datepicker__month {
            width: 40vw;
          }
          .react-datepicker__month {
            .react-datepicker__week {
              > div {
                margin: 1vw;
                width: 2vw !important;
                height: 2vw !important;
              }
            }
          }
          .react-datepicker__day-name {
            margin: 1vw;
            width: 2vw !important;
            height: 2vw !important;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: -10vh;
        }
      }
    }
  }
}
// PC
@media all and (min-width: 1025px) {
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        .gallery {
          position: relative;
          width: 31vw;
          height: 60vh;
          margin-right: 3vw;
          .galleryContainer {
            display: flex;
            flex-wrap: wrap;
            height: 55vh;
            overflow:auto;
            .galleryImageContainer {
              display: inline-block;
              width: calc((31vw - 3vw - 4px - 20px) / 2);
              height: calc((55vh - 3vw) / 2);
            }
            .galleryImageContainer:nth-child(1) {
              margin: 1vw 0.5vw 1vw calc(1vw + 10px) !important;
            }
            .galleryImageContainer:nth-child(2) {
              margin: 1vw 1vw 1vw 0.5vw !important;
            }
            .galleryImageContainer:nth-child(4n+1) {
              margin: 0 0.5vw 1vw calc(1vw + 10px);
            }
            .galleryImageContainer:nth-child(4n+2) {
              margin: 0 1vw 1vw 0.5vw;
            }
            .galleryImageContainer:nth-child(4n+3) {
              margin: 0 0.5vw 1vw calc(1vw + 10px);
            }
            .galleryImageContainer:nth-child(4n+4) {
              margin: 0 1vw 1vw 0.5vw;
            }
          }
        }
        ul {
          width: calc(80vw - 26vw - 8vw);
          height: 55vh;
          p {
            width: 10vw;
            line-height: 8vh;
            margin-right: 3vw;
          }
          p:not(li:nth-child(4) p)::after {
            content: ":";
            width: 2vw;
            line-height: 5vh;
            margin-left: 5vw;
          }
          input{
            width: 33vw;
            height: 5vh;
            margin-top: 1vh;
            line-height: 3vh;
            border: 1px solid #fff;
            border-radius: 10px;
          }
          .react-datepicker-wrapper {
            width: 33vw !important;
          }
          .react-datepicker__input-container {
            width: 33vw !important;
          }
          textarea {
            width: 46vw;
            height: calc(55vh - 32vh - 2px);
          }
          .react-datepicker__month-container {
            width: 24vw !important;
          }
          .react-datepicker__month {
            .react-datepicker__week {
              > div {
                margin: 0.5vw;
                width: 1.5vw !important;
                height: 1.5vw !important;
              }
            }
          }
          .react-datepicker__day-name {
            margin: 0 0.5vw;
            width: 1.5vw !important;
            height: 1.5vw !important;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}


.postWriteContainer {
  background: url(../../img/post/postWriteBg.png);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  @include font;
  .postWrite {
    position: relative;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    z-index: 100;
    @include font;
    h1 {
      font-size: 2.4rem;
      text-align: center;
      line-height: 10vh;
      @include font;
      @include noDrag;
    }
    .postWriteWrap {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      .gallery {
        .inputFileBtn {
          position: absolute;
          top: 1.5vh;
          right: 0;
          > label {
            display: flex;
            align-items: center;
             svg {
              margin-top:0.5vh;
              font-size: 2rem;
            }
          }
        }
        h2 {
          height: 5vh;
          font-size: 2rem;
          line-height: 5vh;
          @include noDrag;
        }
        input {
          @include hidden;
        }
        .galleryContainer {
          border: 1px solid #fff;
          border-radius: 10px;
          //사진 추가 부분
          .galleryImageContainer {
            display: inline-block;
            position: relative;
            caret-color: transparent;
            figure {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
              img {
                width: auto;
                height: 100%;
                display: block;
                object-fit: cover;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            > span {
              font-size: 2rem;
              font-weight: 100;
              z-index: 100;
              padding: 0.2vw;
              cursor: pointer;
              background-color: #000;
              border-radius: 50%;
              position: absolute;
              right: -1rem;
              top: -1rem;
            }
          }
        }

        .galleryContainer::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        .galleryContainer::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          /* 스크롤바 둥글게 설정    */
        }

        /* 스크롤바 뒷 배경 설정*/
        .galleryContainer::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      ul {
        display: block;
        margin-top: 5vh;
        > li {
          > span {
            display: inline-block;
            width: 2vw;
            text-align: center;
          }
        }
        p {
          display: inline-block;
          font-size: 1.6rem;
          font-weight: 400;
          @include noDrag;
        }
        p:not(li:nth-child(4) p)::after {
          content: ":";
          font-size: 2rem;
          line-height: 5vh;
          @include noDrag;
        }
        input,
        > .react-datepicker-wrapper {
          margin-top: 1vh;
          line-height: 3vh;
          outline: none;
          background: transparent;
          color: #fff;
          padding: 0 1vw;
          font-size: 1.6rem;
          font-weight: 100;
          overflow: hidden;
          @include font;
        }
        input:focus {
          outline: none;
        }
        input::placeholder {
          color: #fff;
          opacity: 0.5;
        }
        textarea {
          display: block;
          padding: 1vw 1vw;
          border: 1px solid #fff;
          border-radius: 10px;
          background: transparent;
          color: #fff;
          font-size: 1.6rem;
          white-space: pre;
          resize: none;
          @include font;
        }
        textarea:focus {
          outline: none;
        }
      }
      .postWriteBtn {
        width: 80vw;
        display: flex;
        justify-content: center;
        button {
          display: inline-block;
          background: rgba(175, 144, 126, 0.3);
          border-radius: 15px;
          color: #fff;
          font-size: 1.6rem;
          cursor: pointer;
          border: 2px solid #fff;
          @include font;
        }
        button:nth-child(1) {
          margin-right: 5vw;
          padding: 5px 10px;
        }
        button:nth-child(2) {
          padding: 5px 27.5px;
        }
        button:hover {
          background: rgb(175, 144, 126);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .postWrite::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -10vw;
    top: -10vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
//datepicker
.react-datepicker-popper > div {
  position: relative;
  left: 6.5vw;
}
.react-datepicker {
  caret-color: transparent;
  .react-datepicker__navigation {
    top: calc((5vh + 8px - 32px) / 2);
  }
}
.react-datepicker__input-container {
  caret-color: transparent;
}
.react-datepicker__month-container {
  margin: 0 auto;
  .react-datepicker__month {
    margin: 1vh 0;
    .react-datepicker__week {
      margin:0.5vh 0;
      > div:first-child {
        color: red !important;
      }
      > div:nth-child(7n) {
        color: blue !important;
      }
    }
  }
}
.react-datepicker__header {
  height: calc(5vh + 8px);
  .react-datepicker__current-month,
  .react-datepicker__day-names {
    line-height: 2vh;
  }
  .react-datepicker__day-names {
    .react-datepicker__day-name:first-child {
      color: red !important;
    }
    .react-datepicker__day-name:last-child {
      color: blue !important;
    }
  }
}
.react-datepicker__close-icon {
  height: calc(100% - 1vh) !important;
  margin-top: 1vh;
  caret-color: transparent;
}
.react-datepicker__close-icon::after {
  background-color: black !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: #7fc8ff !important;
}