@font-face {
  font-family: "Nanum Myeongjo";
  src: url("../../fonts/NanumMyeongjo-Regular.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-Bold.ttf") format("truetype"),
    url("../../fonts/NanumMyeongjo-ExtraBold.ttf") format("truetype");
  // 영문(대소문자)
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: "Noto Sans KR";
  src: url("../../fonts/NotoSansKR-Thin.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Light.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Medium.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Regular.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Bold.otf") format("opentype"),
    url("../../fonts/NotoSansKR-Black.otf") format("opentype");
  // 국문, 숫자
  unicode-range: U+AC00-D7A3, U+0030-0039;
}
@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin hidden {
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
}
// 테블릿 & 모바일
@media all and (max-width: 1024px) {
  @media all and (max-width: 414px) {
    .galleryImageContainer {
      width: calc((80vw - 2px - 10vw)/2) !important;
    }
    .react-datepicker__close-icon::after {
      width: 10px !important;
      height: 10px !important;
    }
  }
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        position: relative;
        .gallery {
          width: 80vw;
          height: calc(var(--vh, 1vh) * 25);
          position: absolute;
          left: 0;
          top: 0;
          .galleryContainer {
            width: 80vw;
            height: calc(var(--vh, 1vh) * 20);
            overflow-x: auto;
            overflow-y: hidden;
            white-space: nowrap;
            .galleryImageContainer {
              width: calc((80vw - 2px - 10vw)/4);
              height: calc((var(--vh, 1vh) * 24) - 2px - 4vw);
              margin: 2vw 1vw;
            }
            .galleryImageContainer:first-child {margin-left:2vw;}
            .galleryImageContainer:last-child {margin-right:2vw;}
          }
        }
        ul {
          display: block;
          width: 80vw;
          height: calc(var(--vh, 1vh) * 25);
          margin-top: calc(var(--vh, 1vh) * 26) !important;
          label {
            line-height: calc(var(--vh, 1vh) * 4);
          }
          label:not(li:nth-child(4) label)::after {
            margin-left: 7vw;
          }
          input{
            width: 60vw;
            height: calc(var(--vh, 1vh) * 3);
            line-height: calc(var(--vh, 1vh) * 3);
            border-bottom: 1px solid #fff;
            border-top: none;
            border-left: none;
            border-right: none;
          }
          .react-datepicker-wrapper {
            width: 60vw !important;
          }
          .react-datepicker__input-container {
            width: 60vw !important;
          }
          textarea {
            width: 100%;
            height: calc((var(--vh, 1vh) * 16) - 2vw);
            line-height: calc(var(--vh, 1vh) * 2.5);
          }
          .react-datepicker__month {
            .react-datepicker__week {
              > div {
                margin: 1vw;
                width: 15px !important;
                height: 15px !important;
              }
            }
          }
          .react-datepicker__day-name {
            margin: 1vw;
            width: 15px !important;
            height: 15px !important;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: calc(var(--vh, 1vh) * -10);
        }
      }
    }
  }
}
// PC
@media all and (min-width: 1025px) {
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        .gallery {
          position: relative;
          width: 31vw;
          height: calc(var(--vh, 1vh) * 60);
          margin-right: 3vw;
          .galleryContainer {
            display: flex;
            flex-wrap: wrap;
            height: calc(var(--vh, 1vh) * 55);
            overflow:auto;
            .galleryImageContainer {
              display: inline-block;
              width: calc((31vw - 3vw - 4px - 20px) / 2);
              height: calc(((var(--vh, 1vh) * 55) - 3vw) / 2);
            }
            .galleryImageContainer:nth-child(1) {
              margin: 1vw 0.5vw 1vw calc(1vw + 10px) !important;
            }
            .galleryImageContainer:nth-child(2) {
              margin: 1vw 1vw 1vw 0.5vw !important;
            }
            .galleryImageContainer:nth-child(4n+1) {
              margin: 0 0.5vw 1vw calc(1vw + 10px);
            }
            .galleryImageContainer:nth-child(4n+2) {
              margin: 0 1vw 1vw 0.5vw;
            }
            .galleryImageContainer:nth-child(4n+3) {
              margin: 0 0.5vw 1vw calc(1vw + 10px);
            }
            .galleryImageContainer:nth-child(4n+4) {
              margin: 0 1vw 1vw 0.5vw;
            }
          }
        }
        ul {
          width: calc(80vw - 26vw - 8vw);
          height: calc(var(--vh, 1vh) * 55);
          label {
            // width: 10vw;
            line-height: calc(var(--vh, 1vh) * 8);
            margin-right: 3vw;
          }
          label:not(li:nth-child(4) label)::after {
            content: ":";
            width: 2vw;
            line-height: calc(var(--vh, 1vh) * 8);
            margin-left: 5vw;
          }
          input{
            width: 33vw;
            height: calc(var(--vh, 1vh) * 5);
            margin-top: calc(var(--vh, 1vh) * 1);
            line-height: calc(var(--vh, 1vh) * 3);
            border: 1px solid #fff;
            border-radius: 10px;
          }
          .react-datepicker-wrapper {
            width: 33vw !important;
          }
          .react-datepicker__input-container {
            width: 33vw !important;
          }
          textarea {
            width: 46vw;
            height: calc((var(--vh, 1vh) * (55 - 32)) - 2px);
          }
          .react-datepicker__month-container {
            width: 24vw !important;
          }
          .react-datepicker__month {
            .react-datepicker__week {
              > div {
                margin: 0.5vw;
                width: 1.5vw !important;
                height: 1.5vw !important;
              }
            }
          }
          .react-datepicker__day-name {
            margin: 0 0.5vw;
            width: 1.5vw !important;
            height: 1.5vw !important;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: 0;
        }
      }
    }
  }
}


.postWriteContainer {
  background: url(../../img/post/postWriteBg.png);
  background-size: 100vw calc(var(--vh, 1vh) * 100);
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  @include font;
  .postWrite {
    position: relative;
    left: 10vw;
    top: calc(var(--vh, 1vh) * 12.5);
    width: 80vw;
    height: calc(var(--vh, 1vh) * 80);
    z-index: 100;
    @include font;
    h1 {
      font-size: 2.4rem;
      text-align: center;
      line-height: calc(var(--vh, 1vh) * 10);
      @include font;
      @include noDrag;
    }
    .postWriteWrap {
      width: 100%;
      height: calc(var(--vh, 1vh) * 60);
      display: flex;
      justify-content: center;
      .gallery {
        h2 {
          height: calc(var(--vh, 1vh) * 5);
          font-size: 2rem;
          line-height: calc(var(--vh, 1vh) * 5);
          @include noDrag;
        }
        .inputFileBtn {
          position: absolute;
          top: calc(var(--vh, 1vh) * 1);
          left: calc(100% - 2rem);
          > label {
            display: flex;
            align-items: center;
            cursor:pointer;
             svg {
              margin-top: calc(var(--vh, 1vh) * 0.5);
              font-size: 2rem;
            }
          }
        }
        input {
          @include hidden;
        }
        .galleryContainer {
          border: 1px solid #fff;
          border-radius: 10px;
          //사진 추가 부분
          .galleryImageContainer {
            display: inline-block;
            position: relative;
            caret-color: transparent;
            figure {
              width: 100%;
              height: 100%;
              overflow: hidden;
              position: relative;
              img {
                width: auto;
                height: 100%;
                display: block;
                object-fit: cover;
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
              }
            }
            > span {
              font-size: 2rem;
              font-weight: 100;
              z-index: 100;
              padding: 0.2vw;
              cursor: pointer;
              background-color: #000;
              border-radius: 50%;
              position: absolute;
              right: -1rem;
              top: -1rem;
            }
          }
        }

        .galleryContainer::-webkit-scrollbar {
          width: 10px;
          height: 10px;
        }

        .galleryContainer::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          /* 스크롤바 둥글게 설정    */
        }

        /* 스크롤바 뒷 배경 설정*/
        .galleryContainer::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      ul {
        display: block;
        margin-top: calc(var(--vh, 1vh) * 5);
        > li:not(.postWriteWrap ul > li:nth-child(4)) {
          display: flex;
          justify-content: space-between;
        }
        label {
          font-size: 1.6rem;
          font-weight: 400;
          @include noDrag;
        }
        label:not(li:nth-child(4) label)::after {
          content: ":";
          font-size: 2rem;
          line-height: calc(var(--vh, 1vh) * 5);
          @include noDrag;
        }
        input,
        > .react-datepicker-wrapper {
          margin-top: calc(var(--vh, 1vh) * 1);
          line-height: calc(var(--vh, 1vh) * 3);
          outline: none;
          background: transparent;
          color: #fff;
          padding: 0 1vw;
          font-size: 1.6rem;
          font-weight: 100;
          overflow: hidden;
          @include font;
        }
        input:focus {
          outline: none;
        }
        input::placeholder {
          color: #fff;
          opacity: 0.5;
        }
        textarea {
          display: block;
          padding: 1vw 1vw;
          border: 1px solid #fff;
          border-radius: 10px;
          background: transparent;
          color: #fff;
          font-size: 1.6rem;
          overflow-x: hidden;
          overflow-y: auto;
          overflow-wrap: anywhere;
          white-space: pre-wrap;
          resize: none;
          @include font;
        }
        textarea::-webkit-scrollbar {width: 10px;}
        textarea::-webkit-scrollbar-track {background-color: rgba(255, 255, 255, 0.3);}
        textarea::-webkit-scrollbar-thumb {
          background-color: rgba(0,0,0,0);
          border-radius: 10px;
        }
        textarea:focus {
          outline: none;
        }
        textarea::placeholder {
          color: #fff;
          opacity: 0.5;
        }
      }
      .postWriteBtn {
        width: 80vw;
        display: flex;
        justify-content: center;
        button {
          display: inline-block;
          background: rgba(175, 144, 126, 0.3);
          border-radius: 15px;
          color: #fff;
          font-size: 1.6rem;
          cursor: pointer;
          border: 2px solid #fff;
          @include font;
        }
        button:nth-child(1) {
          margin-right: 5vw;
          padding: 5px 10px;
        }
        button:nth-child(2) {
          padding: 5px 27.5px;
        }
        button:hover {
          background: rgb(175, 144, 126);
          transition: 0.3s ease-in-out;
        }
      }
    }
  }
  .postWrite::before {
    content: "";
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    left: -10vw;
    top: calc(var(--vh, 1vh) * -12.5);
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
//datepicker
.react-datepicker-popper > div {
  position: relative;
  padding: 0 5vw;
}
.react-datepicker {
  caret-color: transparent;
}
.react-datepicker__input-container {
  caret-color: transparent;
}
.react-datepicker__month-container {
  margin: 0 auto;
  .react-datepicker__month {
    margin: calc(var(--vh, 1vh) * 1) 30px;
    .react-datepicker__week {
      margin: calc(var(--vh, 1vh) * 0.5) 0;
      > div:first-child {
        color: red !important;
      }
      > div:nth-child(7n) {
        color: blue !important;
      }
    }
  }
}
.react-datepicker__header {
  .react-datepicker__current-month,
  .react-datepicker__day-names {
    line-height: calc(var(--vh, 1vh) * 2);
  }
  .react-datepicker__day-names {
    margin: 0 5px;
    .react-datepicker__day-name {
      width: 15px;
      height: 15px;
    }
    .react-datepicker__day-name:first-child {
      color: red !important;
    }
    .react-datepicker__day-name:last-child {
      color: blue !important;
    }
  }
}
.react-datepicker__close-icon {
  height: calc(100% - (var(--vh, 1vh) * 1)) !important; 
  margin-top: calc(var(--vh, 1vh) * 1);
  caret-color: transparent;
}
.react-datepicker__close-icon::after {
  background-color: black !important;
}
.react-datepicker__day--keyboard-selected {
  background-color: #7fc8ff !important;
}