@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('../../fonts/NanumMyeongjo-Regular.ttf') format("truetype"),
       url('../../fonts/NanumMyeongjo-Bold.ttf') format("truetype"),
       url('../../fonts/NanumMyeongjo-ExtraBold.ttf') format("truetype");
  // 영문(대소문자)
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../fonts/NotoSansKR-Thin.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Light.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Medium.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Regular.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Bold.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Black.otf') format("opentype");
  // 국문, 숫자
  unicode-range: U+AC00-D7A3, U+0030-0039;
}
@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin hidden {
  display: block;
  width: 0;
  height: 0;
  text-indent: -9999px;
}
// 모바일
@media all and (max-width: 767px) {
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        position: relative;
        .gallery {
          position: relative;
          width: 32vw;
          height: 25vh;
          position: absolute;
          left: 0;
          top: 0;
          .galleryContainer {
            width: 100%;
            height: 24vh;
            .galleryImageContainer {
              width: calc((32vw - 3vw - 4px)/2);
              height: calc((24vh - 3vw - 4px)/2);
            }
          }
        }
        ul {
          width: 80vw;
          height: 55vh;
          li {
            margin-left: 36vw;
          }
          p {
            width: 10vw;
            line-height: 8vh;
          }
          p:not(li:nth-child(4) p)::after {
            margin-left: 3vw;
          }
          input, .react-datepicker-wrapper {
            width: 34vw;
            height: 5vh;
            line-height: 5vh;
          }
          .react-datepicker-wrapper {width: 34vw !important;}
          .react-datepicker__input-container {width: 34vw !important;}
          // 일기 조정
          li:nth-child(4) {
            margin-left: 0;
            position: absolute;
            left: 0;
            bottom: 0;
          }
          textarea {
            width: 80vw;
            height: 23vh;
            line-height: 2.5vh;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: -10vh;
          button {
            width: 10vw;
            height: 5vh;
          }
        }
      }
    }
  }
}
// 테블릿 & PC
@media all and (min-width: 768px) {
  .postWriteContainer {
    .postWrite {
      .postWriteWrap {
        .gallery {
          position: relative;
          width: 31vw;
          height: 60vh;
          margin-right: 3vw;
          .galleryContainer {
            height: 55vh;
            .galleryImageContainer {
              width: calc((31vw - 3vw - 4px)/2);
              height: calc((55vh - 3vw - 4px)/2);
            }
          }
        }
        ul {
          width: calc(80vw - 26vw - 8vw);
          height: 55vh;
          p {
            width: 10vw;
            line-height: 8vh;
            margin-right: 3vw;
          }
          p:not(li:nth-child(4) p)::after {
            content: ":";
            width: 2vw;
            line-height: 5vh;
            margin-left: 5vw;
          }
          input, .react-datepicker-wrapper {
            width: 33vw;
            height: 5vh;
            margin-top: 1vh;
            line-height: 3vh;
          }
          .react-datepicker-wrapper {width: 33vw !important;}
          .react-datepicker__input-container {width: 33vw !important;}
          textarea {
            width: 46vw;
            height: 23vh;
          }
        }
        .postWriteBtn {
          position: absolute;
          left: 0;
          bottom: 0;
          button {
            width: 5vw;
            height: 5vh;
          }
        }
      }
    }
  }
}
.postWriteContainer {
  background: url(../../img/post/postWriteBg.png);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  @include font;
  .postWrite {
    position: relative;
    left: 10vw;
    top: 10vh;
    width: 80vw;
    height: 80vh;
    z-index: 100;
    @include font;
    h1 {
      font-size: 3rem;
      text-align: center;
      line-height: 10vh;
      @include font;
      @include noDrag;
    }
    .postWriteWrap {
      width: 100%;
      height: 60vh;
      display: flex;
      justify-content: center;
      .gallery {
        h2 {
          height: 5vh;
          font-size: 2rem;
          line-height: 5vh;
          @include noDrag;
        }
        p {
          font-size: 1.3rem;
          margin-top: 5px;
          margin-bottom: 15px;
          text-align: right;
        }
        input {
          display: none;
        }
        a {
          label {
            font-size: 2.4rem;
            position: absolute;
            right: 0;
            top: 0;
            line-height: 5vh;
            cursor: pointer;
          }
          span {
            @include hidden;
          }
        }
        .galleryContainer {
          border: 2px solid #fff;
          border-radius: 10px;
          display: flex;
          flex-wrap: wrap;
          //사진 추가 부분
          .galleryImageContainer {
            display: inline-block;
            position: relative;
            caret-color: transparent;
            img {
              width: 100%;
              height: 100%;
              display: block;
            }
            span {
              font-size: 2rem;
              font-weight: 100;
              z-index: 100;
              padding:0.2vw;
              cursor: pointer;
              background-color: #000;
              border-radius: 50%;
              position:absolute;
              right:-1rem;
              top:-1rem;
            }
          }
          .galleryImageContainer:nth-child(1) {margin:1vw 0.5vw 0.5vw 1vw;}
          .galleryImageContainer:nth-child(2) {margin:1vw 1vw 0.5vw 0.5vw;}
          .galleryImageContainer:nth-child(3) {margin:0.5vw 0.5vw 1vw 1vw;}
          .galleryImageContainer:nth-child(4) {margin:0.5vw 1vw 1vw 0.5vw;}
        }
        .galleryContainer::-webkit-scrollbar {
          width: 12px;
        }

        .galleryContainer::-webkit-scrollbar-thumb {
          background-color: rgba(255, 255, 255, 0.3);
          border-radius: 5px;
          /* 스크롤바 둥글게 설정    */
        }

        /* 스크롤바 뒷 배경 설정*/
        .galleryContainer::-webkit-scrollbar-track {
          background-color: rgba(0, 0, 0, 0);
        }
      }
      ul {
        display: block;
        margin-top: 5vh;
        > li {
          > span {
            display: inline-block;
            width: 2vw;
            text-align: center;
          }
        }
        p {
          display: inline-block;
          font-size: 1vw;
          font-weight: 400;
          @include noDrag;
        }
        p:not(li:nth-child(4) p)::after {
          content: ":";
          display: inline-block;
          font-size: 2rem;
          line-height: 5vh;
          @include noDrag;
        }
        input, > .react-datepicker-wrapper {
          margin-top: 1vh;
          line-height: 3vh;
          border: 1px solid #fff;
          border-radius: 10px;
          outline: none;
          background: transparent;
          color: #fff;
          padding: 0 1vw;
          font-size: 1.5rem;
          font-weight: 100;
          overflow: hidden;
          @include font;
        }
        input:focus {
          outline: none;
        }
        textarea {
          display: block;
          padding: 1vw 1vw;
          border: 1px solid #fff;
          border-radius: 10px;
          background: transparent;
          color: #fff;
          font-size: 1.5rem;
          white-space: pre;
          @include font;
        }
        textarea:focus {
          outline: none;
        }
      }
      .postWriteBtn {
        width: 80vw;
        display: flex;
        justify-content: center;
        button {
          background: rgba(175, 144, 126, 0.3);
          border-radius: 20px;
          color: #fff;
          font-size: 1.6rem;
          cursor: pointer;
          border: 2px solid #fff;
          @include font;
        }
        button:nth-child(1) {
          margin-right: 5vw;
        }
        button:hover {
          background: rgb(175, 144, 126);
          transition: 0.2s ease-in;
        }
      }
    }
  }
  .postWrite::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: -10vw;
    top: -10vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
//datepicker 
.react-datepicker-popper > div {
  position: relative;
  left:6.5vw;
}
.react-datepicker {
  caret-color: transparent;
  .react-datepicker__navigation {
    top:calc((5vh + 8px - 32px)/2);
  }
}
.react-datepicker__input-container {
  caret-color: transparent;
}
.react-datepicker__month-container {
  width: 20vw !important;
  margin:0 auto;
  .react-datepicker__month {
    .react-datepicker__week {
      > div {
        margin: 0.5vw;
        width: 1vw !important;
        height: 1vw !important;
      }
      > div:first-child {
        color:red !important;
      }
      > div:nth-child(7n) {
        color:blue !important;
      }
    }
  }
}
.react-datepicker__header {
  height: calc(5vh + 8px);
  .react-datepicker__current-month, .react-datepicker__day-names {
    line-height: 2vh;
  }
  .react-datepicker__day-names {
    .react-datepicker__day-name {
      margin:0 0.5vw;
      width: 1vw !important;
      height: 1vw !important;
    }
    .react-datepicker__day-name:first-child {
      color:red !important;
    }
    .react-datepicker__day-name:last-child {
      color:blue !important;
    }
  }
}
.react-datepicker__close-icon {
  height:calc(100% - 1vh) !important;
  margin-top:1vh;
  caret-color: transparent;
}
.react-datepicker__close-icon::after {
  background-color:black !important;
}
