@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.loginContainer {
  background: url(../../img/login/loginBg.jpg);
  background-size: 100vw 100vh;
  width: 100vw;
  height: 100vh;
  position: relative;
  .login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    @include font;
    .loginWrap {
      width: 400px;
      height: 50%;
      margin: 25vh auto 0 auto;
    }
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: 5vh;
      margin-bottom: 5vh;
      @include font;
      @include noDrag;
      span {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: 1rem;
      }
    }
    form {
      @include noDrag;
      input {
         @include font;
        width: 100%;
        height: 6vh;
        background: transparent;
        border: 1px solid #fff;
        padding: 0 5%;
        font-size: 1.6rem;
        border-radius: 10px;
        margin-bottom: 3vh;
      }
      input::placeholder {
        color: #fff;
        opacity: 0.5;
      }
      input:focus {
        outline: none;
      }
      p {
        color: yellow;
        font-size: 1.6rem;
        margin-bottom: 5vh;
      }
      #loginButton {
        @include font;
        width: 100%;
        height: 6vh;
        padding: 0 5%;
        font-size: 1.8rem;
        border: none;
        border-radius: 10px;
        margin: 2vh 0;
        cursor: pointer;
      }
      span {
        display: inline-block;
        font-size: 1.4rem;
        line-height: 3vh;
      }
      #moveToSignUp {
        border: none;
        background-color: transparent;
        @include font;
        font-size: 1.6rem;
        line-height: 3vh;
        cursor: pointer;
        margin-left: 1vw;
      }
    }
  }
  .login::before {
    content: "";
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
