@mixin font {
  font-family: "Nanum Myeongjo", "Noto Sans KR";
  color: #fff;
  letter-spacing: 0.3rem;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.loginContainer {
  background: url(../../img/login/loginBg.jpg);
  background-size: 100vw calc(var(--vh, 1vh) * 100);
  width: 100vw;
  height: calc(var(--vh, 1vh) * 100);
  position: relative;
  .login {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    z-index: 100;
    padding:0 10vw;
    @include font;
    .loginWrap {
      max-width: 400px;
      min-width: 200px;
      height: calc(var(--vh, 1vh) * 50);
      margin: calc(var(--vh, 1vh) * 25) auto 0 auto;
    }
    h1 {
      font-size: 2.4rem;
      text-align: left;
      line-height: calc(var(--vh, 1vh) * 5);
      margin-bottom: calc(var(--vh, 1vh) * 5);
      @include font;
      @include noDrag;
      span {
        font-size: 3.2rem;
        font-weight: 600;
        letter-spacing: 1rem;
      }
    }
    form {
      @include noDrag;
      input {
         @include font;
        width: 100%;
        height: calc(var(--vh, 1vh) * 7);
        background: transparent;
        border: 1px solid #fff;
        padding: 0 5%;
        font-size: 1.6rem;
        border-radius: 10px;
        margin-bottom: calc(var(--vh, 1vh) * 3);
      }
      // edge 비밀번호 눈 없애기
      input[type="password"]::-ms-reveal,
      input[type="password"]::-ms-clear {
        display: none;
      }
      input::placeholder {
        color: #fff;
        opacity: 0.5;
      }
      input:focus {
        outline: none;
      }
      p {
        color: yellow;
        font-size: 1.6rem;
        margin-bottom: calc(var(--vh, 1vh) * 5);
      }
      #loginButton {
        @include font;
        width: 100%;
        height: calc(var(--vh, 1vh) * 7);
        padding: 0 5%;
        font-size: 1.8rem;
        border: none;
        border-radius: 10px;
        margin: calc(var(--vh, 1vh) * 2) 0;
        cursor: pointer;
      }
      span {
        display: inline-block;
        font-size: 1.6rem;
        line-height: calc(var(--vh, 1vh) * 3);
      }
      #moveToSignUp {
        display: inline-block;
        font-size: 1.8rem;
        line-height: calc(var(--vh, 1vh) * 3);
        margin-left: 1vw;
        cursor: pointer;
        @include font;
      }
    }
  }
  .login::before {
    content: "";
    width: 100vw;
    height: calc(var(--vh, 1vh) * 100);
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}
