@font-face {
  font-family: 'Nanum Myeongjo';
  src: url('../../fonts/NanumMyeongjo-Regular.ttf') format("truetype"),
       url('../../fonts/NanumMyeongjo-Bold.ttf') format("truetype"),
       url('../../fonts/NanumMyeongjo-ExtraBold.ttf') format("truetype");
  // 영문(대소문자)
  unicode-range: U+0041-005A, U+0061-007A;
}
@font-face {
  font-family: 'Noto Sans KR';
  src: url('../../fonts/NotoSansKR-Thin.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Light.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Medium.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Regular.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Bold.otf') format("opentype"),
       url('../../fonts/NotoSansKR-Black.otf') format("opentype");
  // 국문, 숫자
  unicode-range: U+AC00-D7A3, U+0030-0039;
}
@mixin font {
  font-family: 'Nanum Myeongjo', 'Noto Sans KR';
  color: #fff;
  letter-spacing: 0.2rem;
  font-weight:100;
}
@mixin hidden {
  display: block;
  width: 0; height: 0;
  text-indent: -9999px;
}
@mixin noDrag {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// 모바일
@media all and (max-width:767px) {
  footer {
    height:50%;
    .footerMenu {
      width: 80%; 
      text-align: center;
      .sns {
        justify-content: center;
        li:not(li:first-child) {margin-left:5vw;}
      }
      ul:not(.sns) {
        width: 50%;
        justify-content: center;
        li {font-size: 12px !important;}
        li:not(li:last-child) {
          margin-right:6vw;
        }
        li:not(li:nth-child(1))::after {
          margin: 0.75vh 0 0 -3vw;
        }
      }
      address {font-size: 12px !important;}
      p {font-size: 12px !important;}
    }
    .footerLogo {
      width: auto; height: 10vh;
      margin: 10vh auto 5vh auto;
    }
  }
  .footerOpen {
    bottom : 0 !important;
    .footerOpenBtn {display:none !important;}
    .footerCloseBtn {display:flex !important;}
  }
  .footerClose {
    bottom : -50%;
    .footerOpenBtn {display:flex !important;}
    .footerCloseBtn {display:none !important;}
  }
}
// 테블릿 & PC
@media all and (min-width:768px) {
  footer {
    height:28%;
    display: flex;
    align-items: center;
    .footerMenu {
      width: 50%; 
      .sns {
        li {
          margin-right:15%;
        }
      }
      ul:not(.sns) {
        li {
          margin-right:10vw;
        }
        li:not(li:nth-child(1))::after {
          margin: 0.75rem 0 0 -5vw;
        }
      }
    }
    .footerLogo {
      width: auto; height: 25%;
      margin-left:15%;
    }
  }
  .footerOpen {
    bottom : 0 !important;
    .footerOpenBtn {display:none !important;}
    .footerCloseBtn {display:flex !important;}
  }
  .footerClose {
    bottom : -28%;
    .footerOpenBtn {display:flex !important;}
    .footerCloseBtn {display:none !important;}
  }
}
footer {
  width: 100%;
  background-color: #222;
  position:absolute; left: 0; bottom: -28%;
  z-index: 500;
  color:#fff;
  transition: all 0.5s;
  @include font;
  @include noDrag;

  h1 {@include hidden;}
  .footerButton{
    span {
      width: 50px; height: 50px;
      background-color: #222;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      left: calc(2% + (5% - 1.2vw)/2);
      top: -25px;
      border-top-left-radius: 20%;
      border-top-right-radius: 20%;
      clip-path:polygon(0 0, 100% 0, 100% 50%, 0 50%);
      cursor:pointer;
      img {
        width: 15px; height: 10px;
        margin-bottom: 20px;
        display:block;
      }
    }
    .footerClose {display:none;}
  }
  .footerMenu {
    height: auto;
    margin: 0 auto;
    .sns {
      display: flex;
      align-items: center;
      li {
        cursor:pointer;
        position: relative;
        img {
          width:fit-content;
          height:fit-content;
          opacity: 0;
          transition:all 0.3s;
        }
      }
      li:nth-child(1) {
        content:"";
        background:url("../../img/common/footer_facebook.png") no-repeat 0 0;
      }
      li:nth-child(2) {
        content:"";
        background:url("../../img/common/footer_youtube.png") no-repeat 0 0;
      }
      li:nth-child(3) {
        content:"";
        background:url("../../img/common/footer_instagram.png") no-repeat 0 0;
      }
      li:nth-child(4) {
        content:"";
        background:url("../../img/common/footer_twitter.png") no-repeat 0 0;
        margin-right:0;
      }
      li:nth-child(1):hover img {opacity: 1;}
      li:nth-child(2):hover img {opacity: 1;}
      li:nth-child(3):hover img {opacity: 1;}
      li:nth-child(4):hover img {opacity: 1;}
    }
    ul:not(.sns) {
      display: flex;
      width: 100%; height: 100%;
      margin-top:5%;
      line-height: 3vh;
      li {
        float:left;
        font-size: 1.2rem;
        a {
          float:left;
          color:#fff;
        }
      }
      li:not(li:nth-child(1))::after {
        content:"";
        display: block;
        width: 1px; height: 50%;
        background-color: #fff;
      }
    }
    address {
      font-size: 1.2rem;
      line-height: 3vh;
    }
    p {
      display:block;
      font-size: 1.2rem;
      line-height: 3vh;
    }
  }
  .footerLogo {
    display:block;
    width:fit-content;
    height:fit-content;
  }
}